
<div class="mode">
    <input type="radio" name="mode-select" value="mode-time" id="time" checked>
    <label for="time" class="mode-name">時間から探す</label>
    <input type="radio" name="mode-select" value="mode-room" id="room">
    <label for="room" class="mode-name">教室から探す</label>
</div>

<div id="mode-time-form" class="search-time">
  <%= form_with url: search_filter_path, method: :post, local: true do %>
    <div class="select day-select">
      <label for="day-select" class="day-select-label">曜日</label>
        <div class="select-options">
          <select name="day" id="day-select" required>
            <option value="" selected hidden>曜日を選択</option>
            <option value="Mon">月曜</option>
            <option value="Tue">火曜</option>
            <option value="Wed">水曜</option>
            <option value="Thr">木曜</option>
            <option value="Fri">金曜</option>
            <option value="Sat">土曜</option>
          </select>
        </div>
    </div>

    <div class="select time-select">
        <label for="time-select" class="time-select-label">時限</label>
        <div class="select-options">
          <select name="time" id="time-select" required>
            <option value="" selected hidden>時限を選択</option>
            <option value="1">1限</option>
            <option value="2">2限</option>
            <option value="3">3限</option>
            <option value="4">4限</option>
            <option value="5">5限</option>
          </select>
        </div>
    </div>

    <div class="search">
        <input type="submit" value="検索" class="btn btn-search">
    </div>
  <% end %>
  
  <% if @time.present? && @day != "Sun" %>
    <div class="current-time-info">          <!-- PCでのみ表示 -->
      <%= link_to("現在の空き教室はこちら", result_time_path(day: @day,time: @time), class:"btn btn-current-time") %>
    </div>

    <div class="current-available-rooms-index">    <!-- モバイルでのみ表示 -->
      <h2>現在の空き教室はこちら</h2>
      <div class="time-table-index">
        <div class="time-table_header-index">
          <h1><%= @days_dic[@day] %>曜<%= @time %>限</h1>
        </div>
        <div class="time-table_body-index">
            <div class="building-5-index">
                <h2>5号館</h2>
                <div class="time-table-5-index">
                    <%["1", "2", "3", "5"].each do |floor| %>
                        <div class="floor-5-<%= floor %>-index">
                            <% @available_rooms.each do |room| %>
                                <% if room[0] == "5" && room[1] == floor %>
                                    <span class="available_room-index"><%= link_to(room, result_room_path(number: room)) %></span>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="building building-6-index">
                <h2>6号館</h2>
                <div class="time-table-6-index">
                    <%["2", "3", "4"].each do |floor| %>
                        <div class="floor-6-<%= floor %>-index">
                            <% @available_rooms.each do |room| %>
                                <% if room[0] == "6" && room[1] == floor %>
                                    <span class="available_room-index"><%= link_to(room, result_room_path(number: room)) %></span>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="mode-room-form" class="search-room">
  <h2>5号館</h2>
  <div class="time-table time-table-5">
    <%["1", "2", "3", "5"].each do |floor| %>
      <div class="floor floor-5-<%= floor %>">
        <% @all_rooms.each do |room| %>
          <% if room[0] == "5" && room[1] == floor %>
            <span class="all_rooms"><%= link_to(room, result_room_path(number: room)) %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2>6号館</h2>
  <div class="time-table time-table-6">
    <%["2", "3", "4"].each do |floor| %>
      <div class="floor floor-6-<%= floor %>">
        <% @all_rooms.each do |room| %>
          <% if room[0] == "6" && room[1] == floor %>
            <span class="all_rooms"><%= link_to(room, result_room_path(number: room)) %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

