<% content_for(:title) { "#{@days_dic[@day]}曜#{@time}限 空き教室一覧" } %>

<section class="result-time">    
        <h2 class="availability__time"><%= @days_dic[@day] %>曜<%= @time %>限 空き教室一覧</h2>
        <div class="availability__body">
          <% [5, 6].each do |building| %>
            <h3 class="availability__building-name"><%= building %>号館</h3>
            <div class="availability__floors">
              <% @floors_by_building[building].each do |floor| %>
                <div class="availability__floor">
                  <% @available_rooms_index[building][floor].each do |room| %>
                      <span class="availability__room"><%= link_to(room, result_room_path(number: room)) %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="result-time__btn"><%= link_to "トップへ戻る", search_path, class: "btn" %></div>
</section>