<% content_for(:title) { "#{@room_number}教室 利用状況" } %>

<div class="result-room">
  <h2><%= @room_number %>教室 利用状況</h2>
    <div class="result-room__timetable">
        <table>
            <caption>
                〇・・・空き<br>
                ×・・・講義中
            </caption>
            <tr>
                <% ["", "月", "火", "水", "木", "金", "土", "日"].each do |day| %>
                    <th><%= day %></th>
                <% end %>
            </tr>
            <% [1, 2, 3, 4, 5].each do |time| %>
                <tr>
                    <td><%= time %></td>
                    <% ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"].each do |day| %>
                        <% if @room_data.any? {|row| row[:day] == day && row[:time] == time} %>
                            <td>×</td>
                        <% else %>
                            <td>〇</td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
    <div class="result-room__desc">
        <p>
         <%= @room_number %> 教室の利用状況を表示しています。<br>
        休講や補講、学内イベント等により、実際の利用状況が表示内容と異なる場合があります。
        </p>
    </div>
    <div class="result-room__btn"><%= link_to "トップへ戻る", search_path, class: "btn" %></div>
</div>
