<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= [content_for(:title).presence, "chuRoom"].compact.join(" | ") %></title>
    <link rel="canonical" href="https://churoom.com/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= content_for(:meta_description).presence || "中央大学の空き教室を検索できる非公式ツール" %>">
    <meta charset="utf-8">

    <link rel="manifest" href="/manifest.json">

    <%= favicon_link_tag '/favicon-2025.png',
      rel: 'icon',
      type: 'image/x-icon',
      skip_pipeline: true %>

    <!-- OGP -->
    <meta property="og:title" content="chuRoom | 空き教室検索ツール">
    <meta property="og:description" content="中央大学後楽園キャンパスの空き教室をすぐに探せます。時間・教室番号から検索可能。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://churoom.com/">
    <meta property="og:image" content="https://churoom.com/images/ogp_20250817.jpg">
    <meta property="og:site_name" content="chuRoom">

    <!-- Twitterカード -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="chuRoom | 空き教室検索ツール">
    <meta name="twitter:description" content="中央大学後楽園キャンパスの空き教室をすぐに探せます。時間・教室番号から検索可能。">
    <meta name="twitter:image" content="https://churoom.com/images/ogp_20250817.jpg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= link_to("chuRoom", search_path, class: "header__logo") %>

        <!-- ヘッダーナビ（pc, タブレットで表示） -->
        <ul class="header__nav--large">
          <li><%= link_to("検索", search_path) %></li>
          <li><%= link_to("このサイトについて", about_path) %></li>
          <li><%= link_to("お問い合わせ", contact_new_path) %></li>
        </ul>

        <!-- ハンバーガーボタン（モバイルで表示） -->
        <button
          id="hamburger-btn"
          class="hamburger-btn"
          aria-label="メニューを開閉"
          aria-expanded="false"
          aria-controls="header__nav"
        >
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
        </button>

        <!-- モバイル用ナビ -->
        <nav id="header__nav" class="header__nav">
          <ul>
            <li><%= link_to "空き教室検索", search_path %><i class="fa-solid fa-chevron-right"></i></li>
            <li><%= link_to "このサイトについて", about_path %><i class="fa-solid fa-chevron-right"></i></li>
            <li><%= link_to "お問い合わせ", contact_new_path %><i class="fa-solid fa-chevron-right"></i></li>
          </ul>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>

      <footer>
        <ul class="footer__nav">
          <li class="footer__about">
            <%= link_to("このサイトについて", about_path) %>
          </li>
          <li class="footer__contact">
            <%= link_to("お問い合わせ", contact_new_path) %>
          </li>
        </ul>
        <%= link_to("chuRoom", search_path, class: "footer__logo") %>
        <p class="footer__copyright">© 2025 chuRoom</p>
      </footer>
    </div>
  </body>
</html>
