<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Churoom" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= link_to("chuRoom", search_path, class: "logo") %>
        <ul class="nav-pc">
          <li><%= link_to("検索", search_path) %></li>
          <li><%= link_to("使い方", about_path) %></li>
          <li><%= link_to("お問い合わせ", contact_path) %></li>
        </ul>

        <div class="nav-mobile">
          <!-- ハンバーガーボタン -->
          <button
            id="hamburger-btn"
            class="hamburger"
            aria-label="メニューを開閉"
            aria-expanded="false"
            aria-controls="mobile-nav"
          >
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
          <!-- モバイル用ナビ -->
          <nav id="mobile-nav" class="mobile-nav">
            <ul>
              <li><%= link_to "空き教室検索", search_path(anchor: "search-mode") %><i class="fa-solid fa-chevron-right"></i></li>
              <li><%= link_to "使い方", about_path %><i class="fa-solid fa-chevron-right"></i></li>
              <li><%= link_to "お問い合わせ", search_path(anchor: "contact") %><i class="fa-solid fa-chevron-right"></i></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <%= yield %>
      </main>

      <footer>
        <%= link_to("このサイトについて", about_path, class:"about-footer") %>
        <ul class="footer-nav">
          <li class="qiita">
            <a class="contact-link" href="https://qiita.com/online-aaa" target="_blank" rel="noopener noreferrer">
              <span class="icon">
                <%= image_tag "icon-qiita.png", alt: "Qiita" %>
              </span>
              <span class="label">Qiita</span>
            </a>
          </li>
          <li class="x">
            <a class="contact-link" href="https://x.com/online443722" target="_blank" rel="noopener noreferrer">
              <span class="icon"><i class="fa-brands fa-x-twitter"></i></span>
              <span class="label">X</span>
            </a>
          </li>
        </ul>
        <p>© 2025 chuRoom</p>
      </footer>
    </div>
  </body>
</html>
